* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
}

body {
    font-family: Lato;
    color: $light-grey-color;
}

h1 {
    color: white;
}

h2, h3 {
    color: $dark-grey-color;
}

h4 {
    color: $light-grey-color;
    font-weight: lighter;
}


a {
    text-decoration: none;
}